/*item*/
li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
    user-select: none;
}

li label {
    float: left;
    cursor: pointer;
}

li label li input {
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
}

li .btn {
    display: none;
    float: right;
    margin-top: 3px;
}

li:hover {
    background: #efefef;
}

li:hover .btn {
    display: block;
}

li:before {
    content: initial;
}

li:last-child {
    border-bottom: none;
}
