h1 {
    width: 800px;
    margin: 50px auto;
}
.row {
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 200px;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-right: 100px;
    width: 200px;
    height: 100%;
}
.left a{
    display: block;
    padding: 10px 40px;
    border-radius: 5px;
    background: #bfa;
    margin: 10px 0;
}
.panel {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    background: #eee;
}
